### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### DotNetCore ###
/bin
/obj
/.vs
/src/.vs/Buildit.Webcrawler
/src/Buildit.Webcrawler/.vs
/src/Buildit.Webcrawler/bin/Debug/netcoreapp3.1
/src/Buildit.WebCrawler.Tests/bin/Debug/netcoreapp3.1
/src/Buildit.WebCrawler.Tests/obj/Debug/netcoreapp3.1
